@model ClienteRecursoAlocacaoVM

@{
    ViewData["Title"] = "Criar alocação";

    Console.WriteLine(Model.Alocacoes.dataFim);
}

<div id="pagina-formulario">
    <header>
        <a role="button" class="botaoVoltar" asp-controller="Cliente" asp-action="Index"> &lt;- Voltar</a>
    </header>

    <form asp-controller="Alocacao" asp-action="Criar" method="post">
        <div class="mb-3">
            <label for="Cliente" class="form-label">Cliente</label>
            <select id="Cliente" class="form-select" style="width: 250px;">
                @foreach(ClienteModelo cliente in Model.Clientes)
                {
                    <option value="@cliente.clienteCNPJ">@cliente.clienteNome</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label for="Funcionario" class="form-label">Funcionário</label>
            <select id="Funcionario" class="form-select" style="width: 450px;">
                <option>Teste 1</option>
                <option>Teste 2</option>
                <option>Teste 3</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="DataInicial" class="form-label">Início da alocação</label>
            <input type="date" class="form-control" id="DataInicial" style="width: 450px;" asp-for="@Model.Alocacoes.dataInicio" />
        </div>

        <div class="mb-3">
            <label for="DataFinal" class="form-label">Fim da alocação</label>
            <input type="date" class="form-control" id="DataFinal" style="width: 450px;" asp-for="@Model.Alocacoes.dataFim" />
        </div>

        <div class="mb-3">
            <label for="ValorFechado" class="form-label">O valor está fechado?</label>
            <select id="ValorFechado" class="form-select" style="width: 450px;" asp-for="@Model.Alocacoes.valorFechado">
                <option value="false">Não</option>
                <option value="true">Sim</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="ValorAlocacao" class="form-label">Valor da alocação</label>
            <input type="number" class="form-control" id="ValorAlocacao" min="0" max="5000" />
        </div>

        <!--<input type="hidden" asp-for="Datacad" value="@DateTime.Now">
        <input type="hidden" asp-for="Updatedat" value="@DateTime.Now"> -->

        <button type="submit" class="btn btn-primary">Cadastrar alocação</button>
    </form>

    <script src="./js/site.js"></script>
</div>