@model List<AlocacaoModelo>
@{
    ViewData["Title"] = "Alocações agendadas";
    ViewBag.menuLateral = true;
}

<div id="ClienteIndex">
    <header>
        <a role="button" class="botaoCadastro" asp-controller="Alocacao" asp-action="Criar">Criar nova alocação</a>
        <div class="pesquisa">
            <input type="text" class="barraPesquisa" placeholder="Busque algum contato..." />
            <select class="form-select alocacaoBuscarPor">
                <option selected disabled>Buscar por...</option>
                <option value="cliente">Cliente</option>
                <option value="funcionario">Funcionário</option>
            </select>
        </div>
    </header>

    <table class="table">
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Cliente</th>
                <th scope="col">Funcionário</th>
                <th scope="col">Data de alocação</th>
                <th scope="col">Quantidade total de dias</th>
                <th scope="col">Valor fechado</th>
                <th scope="col">Valor total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            
                <!-- <th scope="row">ID</th> -->
                @if(Model.Count() > 0 && Model.Any()) 
                {
                    foreach(AlocacaoModelo alocacao in Model)
                    {
                    <tr>
                        <td>Nome do cliente</td>
                        <td>Funcionário alocado</td>
                        <td>@alocacao.dataInicio à @alocacao.dataFim</td>
                        <td>Quantidade de dias</td>
                        <td class="valorFechado">@alocacao.valorFechado</td>
                        <td>R$@alocacao.ValorAlocacao</td>
                        <td>
                            <a class="configColuna" asp-controller="Alocacao" asp-action="Editar" asp-route-id="@alocacao.Id">Editar</a>
                            <a class="configColuna" asp-controller="Alocacao" asp-action="Deletar" asp-route-id="@alocacao.Id">Apagar</a>
                        </td>
                    </tr>
                    }
                }
        </tbody>
    </table>
    <script>
        let valorFechadoTexto = document.getElementsByClassName('valorFechado');

        for (let i = 0; i <= valorFechadoTexto.length; i++) {
            valorFechadoTexto[i].innerHTML == 'True' ? valorFechadoTexto[i].innerHTML = 'Sim' : valorFechadoTexto[i].innerHTML = 'Não';
        }
    </script>
</div>