@model List<RecursoModelo>

@{
    ViewData["Title"] = "Recursos cadastrados";
    ViewBag.menuLateral = true;
}

<div id="ClienteIndex">
    <header>
        <a role="button" class="botaoCadastro" asp-controller="Recurso" asp-action="Criar">Cadastrar recurso</a>
        <input type="text" class="barraPesquisa" placeholder="Busque algum funcionário..." />
    </header>

    <table class="table">
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">RG</th>
                <th scope="col">Tempo total alocado</th>
                <th scope="col">Valor diário</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0 && Model.Any())
            {
                foreach(RecursoModelo funcionario in Model)
                {
                    <tr>
                        <!-- <th scope="row">ID</th> -->
                        <td>@funcionario.funcNome</td>
                        <td>@funcionario.funcCPF</td>
                        <td>@funcionario.funcRG</td>
                        <td>@funcionario.funcEmail</td>
                        <td>@funcionario.funcValorDiario</td>
                        <td>
                            <a class="configColuna" asp-controller="Recurso" asp-action="Editar" asp-route-id="@funcionario.Id">Editar</a>
                            <a class="configColuna" asp-controller="Recurso" asp-action="Deletar" asp-route-id="@funcionario.Id">Apagar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>